In [1]:
import pandas as pd
import numpy as np

In [2]:
neighborhoods = [
    "El Poblado", "Laureles", np.nan, "Belén", "Envigado", "Sabaneta", 
    "Itagüí", "Bello", np.nan, "La Estrella", np.nan, "Robledo", "Aranjuez", 
    "Manrique", "Popular", np.nan,"Santa Cruz", "Castilla", "Doce de Octubre", 
    np.nan, "San Javier", "Guayabal", "Buenos Aires", np.nan, 
    "La Candelaria", np.nan, np.nan, "Villa Hermosa"
]

neighborhoods_series = pd.Series(neighborhoods)
neighborhoods_series.head()

0    El Poblado
1      Laureles
2           NaN
3         Belén
4      Envigado
dtype: object

In [3]:
# Replacing NaN values

neighborhoods_series.isna() # .isna() == .isnull(). # Prints the dataframe with the boolean indicator where
# there are NaN values.
# .notnull() is the ~.isnull() function
neighborhoods_series.fillna('-', inplace=True)
print(neighborhoods_series.head())
print('\n\n', neighborhoods_series.info())

0    El Poblado
1      Laureles
2             -
3         Belén
4      Envigado
dtype: object
<class 'pandas.core.series.Series'>
RangeIndex: 28 entries, 0 to 27
Series name: None
Non-Null Count  Dtype
--------------  -----
28 non-null     object
dtypes: object(1)
memory usage: 352.0+ bytes


 None

In [24]:
# Parsing empty records with symbols to NaN values 
neighborhoods_series.replace('-',np.nan,inplace=True)
print(neighborhoods_series.head())

# Drop
cleaned_neighb = neighborhoods_series.dropna()
print(cleaned_neighb.info())

0    El Poblado
1      Laureles
2           NaN
3         Belén
4      Envigado
dtype: object
<class 'pandas.core.series.Series'>
Index: 20 entries, 0 to 27
Series name: None
Non-Null Count  Dtype
--------------  -----
20 non-null     object
dtypes: object(1)
memory usage: 320.0+ bytes
None

In [5]:
# Example 2

data = [18.24847012856791,25.069755775400054,np.nan,np.nan,34.95485027542394,
        np.nan,26.99015518619707,16.22051135879878,18.07404180152308,np.nan,31.521621502190584,
        26.5217217929312,13.890201504138854,31.574186105161843,25.251897146673507,27.125918573526302,np.nan,
        25.11553576361868,27.932871068810364,np.nan,29.369613745283267,np.nan,np.nan,12.531413939086674,np.nan,
        33.67613185279017,np.nan,33.09850480505955,16.008134061618577,33.37805321007452]
data_series = pd.Series(data)
print(data_series.head())

0    18.248470
1    25.069756
2          NaN
3          NaN
4    34.954850
dtype: float64

In [7]:
data_series.isna().head() # verifies if there're NaN values

0    False
1    False
2     True
3     True
4    False
dtype: bool

In [18]:
data_series2 = data_series.fillna('---') # Fills the NaN values
data_series2

0      18.24847
1     25.069756
2           ---
3           ---
4      34.95485
5           ---
6     26.990155
7     16.220511
8     18.074042
9           ---
10    31.521622
11    26.521722
12    13.890202
13    31.574186
14    25.251897
15    27.125919
16          ---
17    25.115536
18    27.932871
19          ---
20    29.369614
21          ---
22          ---
23    12.531414
24          ---
25    33.676132
26          ---
27    33.098505
28    16.008134
29    33.378053
dtype: object