In [ ]:
# Exercise: Merging and Performing Arithmetic on DataFrames

# Objective: To merge two datasets with different indices and perform
# arithmetic operations on them.

# Pandas features:
# - Align data based on index labels.
# - Deal with dataset from different sources.}

# Task
# Create DataFrames: Define two DataFrames, sales_2019 and sales_2020,
# with product names as indices and sales figures as values. Ensure some
# products are common to both DataFrames while others are unique to each.

# Perform Arithmetic Operation: Add these two DataFrames to get the total
# sales for each product over the two years. Pay attention to how Pandas
# handles missing values (products that appear in one DataFrame but not
# the other).

# Analysis: After the arithmetic operation, analyze how Pandas aligned the
# data. Look for NaN values and discuss why they appear.

In [2]:
import pandas as pd
import numpy as np

In [24]:
# Create DataFrames
sales_2019 = pd.DataFrame({
    'Sales': [1000, 1500, 2000, 1200],
}, index=['ProductA', 'ProductB', 'ProductC', 'ProductD'])

sales_2020 = pd.DataFrame({
    'Sales': [1100, 1600, 2100, 1300],
}, index=['ProductB', 'ProductC', 'ProductD', 'ProductE'])

# Perform Arithmetic Operation
total_sales = sales_2019 + sales_2020

# Display the result
print(total_sales)

           Sales
ProductA     NaN
ProductB  2600.0
ProductC  3600.0
ProductD  3300.0
ProductE     NaN

In [40]:
# Create a date range for each month in a year
months = pd.date_range(start='2023-01-01', end='2023-12-31', freq='MS')

# Create a DataFrame with this date range as the index
sales_data = pd.DataFrame(index=months)
sales_data

Empty DataFrame
Columns: []
Index: [2023-01-01 00:00:00, 2023-02-01 00:00:00, 2023-03-01 00:00:00, 2023-04-01 00:00:00, 2023-05-01 00:00:00, 2023-06-01 00:00:00, 2023-07-01 00:00:00, 2023-08-01 00:00:00, 2023-09-01 00:00:00, 2023-10-01 00:00:00, 2023-11-01 00:00:00, 2023-12-01 00:00:00]