In [11]:
# tuple: fixed lenght, and immutable
tuple = (1,2,3,4,5,6,7)
print(tuple)
print(tuple[2])

(1, 2, 3, 4, 5, 6, 7)
3

In [14]:
# the objects of the tuple can be modified if they can be, like lists.
tup = (None, [1,2], 'bar', (1,2),8,9)
tup[1].append(3)
print(tup)

(None, [1, 2, 3], 'bar', (1, 2), 8, 9)

In [15]:
#tuples can be concatenated
tup1 = (1,2,5)
tup2 = (-5,-7)
tup3 = ("foo", "bar")
super_tup = tup1 + tup2 + tup3
print(super_tup)

(1, 2, 5, -5, -7, 'foo', 'bar')

In [19]:
# we can assign varaible to a tuple's elements. it works with nested tuples
tup = (2,6,5)
a, b, c = tup
print("a: ",a, "b: ",b, "c: ",c)
tup2 = 4, 5, (6, 7)
a, b, (c, d) = tup2
print("d:",d)

a:  2 b:  6 c:  5
d: 7

In [23]:
tuple_sequence = [(85,65,4),(2,74,32),(40,23,0)]
for a, b, c in tuple_sequence:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=85, b=65, c=4
a=2, b=74, c=32
a=40, b=23, c=0

In [25]:
values = (3,9,7,5,4,2,1)
a, b, c, *_ = values
print('a = ',a, 'b = ',b, 'unwanted = ',_)

a =  3 b =  9 unwanted =  [5, 4, 2, 1]

In [27]:
# count method
tuple1 = (1,2,3,4,1,5,7,2,1,2,6,5,8,9,4,2,3,6,5,1,7,4,5,5,1,2,3,6,5,4,8,9,7,1)
tuple1.count(5)

6