In [6]:
import pandas as pd
import numpy as np

In [11]:

s1 = pd.Series([230.5, 232.3, 231.8, 229.9], index= ["Mon", "Wed", "Fri", "Sun"])
s2 = pd.Series([230.7, 232.1, 231.6, 233.0, 231.9], index= ["Mon", "Tue", "Thu", "Fri", "Sat"])

In [14]:
# when indexes between 2 or more interacting dataframe dont match, the same
# index will be filled with NaN
print('union(s1+s2); \n',s1+s2)

union(s1+s2);
 Fri    464.8
Mon    461.2
Sat      NaN
Sun      NaN
Thu      NaN
Tue      NaN
Wed      NaN
dtype: float64

In [16]:
# Filling values

df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),columns=list('abcde'))
print('df1: \n', df1,'\ndf2: \n',df2)

df1:
      a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
df2:
       a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [20]:
# adding 2 dfs with unmatching indexes results in NaN in locations that dont
# overlap
print(df1+df2)

# fill_value fills the unmatched values with the given by the bigger df.
df1.add(df2,fill_value=0)

      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0