In [1]:
import pandas as pd
import numpy as np

In [2]:

s1 = pd.Series([230.5, 232.3, 231.8, 229.9], index= ["Mon", "Wed", "Fri", "Sun"])
s2 = pd.Series([230.7, 232.1, 231.6, 233.0, 231.9], index= ["Mon", "Tue", "Thu", "Fri", "Sat"])

In [14]:
# when indexes between 2 or more interacting dataframe dont match, the same
# index will be filled with NaN
print('union(s1+s2); \n',s1+s2)

union(s1+s2);
 Fri    464.8
Mon    461.2
Sat      NaN
Sun      NaN
Thu      NaN
Tue      NaN
Wed      NaN
dtype: float64

In [16]:
# Filling values

df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),columns=list('abcde'))
print('df1: \n', df1,'\ndf2: \n',df2)

df1:
      a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
df2:
       a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [3]:
# adding 2 dfs with unmatching indexes results in NaN in locations that dont
# overlap. The new data's size is the same as the biggest.
print(df1+df2)

# fill_value fills the unmatched values ('NaN') with the given by the bigger df.
df1.add(df2,fill_value=0)

NameError: name 'df1' is not defined

In [21]:
# 1 / df1 is the same as df1.rdiv(1)
print('1/df: \n',df1.rdiv(1))

1/df:
        a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [14]:
# Operating between DataFrame and Series

np.random.seed(0)
frame = pd.DataFrame(np.random.randint(0,10,12).reshape(4,3), index=list('abcd'))
series = frame.loc['c']
print('frame: \n',frame,'\nseries: \n',series)

frame:
    0  1  2
a  5  0  3
b  3  7  9
c  3  5  2
d  4  7  6
series:
 0    3
1    5
2    2
Name: c, dtype: int32

In [15]:
# substraction DataFrame - Series. Its perfomed HORIZONTALLY (rows) over the whole
# df
frame - series

   0  1  2
a  2 -5  1
b  0  2  7
c  0  0  0
d  1  2  4