In [1]:
import pandas as pd
import numpy as np

In [2]:
# Setting a random seed for reproducibility
np.random.seed(0)

# Creating a random DataFrame with 13 rows and 10 columns
# Let's assume this data represents a survey of a sports club
df = pd.DataFrame(np.random.randint(1, 100, size=(13, 10)), 
                  columns=['Age', 'Height_cm', 'Weight_kg', 'RunningTime_min', 'SwimmingTime_min', 
                           'CyclingTime_min', 'GymHours_week', 'YogaHours_week', 'BasketballHours_week', 'SoccerHours_week'])

df.head()  # Display the first few rows of the DataFrame

,Age,Height_cm,Weight_kg,RunningTime_min,SwimmingTime_min,CyclingTime_min,GymHours_week,YogaHours_week,BasketballHours_week,SoccerHours_week
0,45,48,65,68,68,10,84,22,37,88
1,71,89,89,13,59,66,40,88,47,89
2,82,38,26,78,73,10,21,81,70,80
3,48,65,83,89,50,30,20,20,15,40
4,33,66,10,58,33,32,75,24,36,76

In [7]:
# conditional filtering

age_more_than_50 = df[df['Age'] > 50] # df['Age'] < 50: prints a boolean indicator, then the df[..]
# prints the True values of the conditional

age_different_than_50 = df[~(df['Age']== 82)] # ~ is symbol for not

print(age_more_than_50)
print('\n\n',age_different_than_50)

    Age  Height_cm  Weight_kg  RunningTime_min  SwimmingTime_min  \
1    71         89         89               13                59
2    82         38         26               78                73
5    56         29         35                1                 1
6    80          5         43               59                32
8    76         69          7               69                48
11   94          4         99               43                78
12   59         24         60                3                99

    CyclingTime_min  GymHours_week  YogaHours_week  BasketballHours_week  \
1                66             40              88                    47
2                10             21              81                    70
5                37             54               6                    39
6                 2             66              42                    58
8                 4             77              53                    79
11               22             74               1                    11
12               63             36              95                    68

    SoccerHours_week
1                 89
2                 80
5                 18
6                 36
8                 16
11                44
12                83


     Age  Height_cm  Weight_kg  RunningTime_min  SwimmingTime_min  \
0    45         48         65               68                68
1    71         89         89               13                59
3    48         65         83               89                50
4    33         66         10               58                33
5    56         29         35                1                 1
6    80          5         43               59                32
7    12         47         83               92                 1
8    76         69          7               69                48
9    21         59         24               80                14
10   36         65         96               70                95
11   94          4         99               43                78
12   59         24         60                3                99

    CyclingTime_min  GymHours_week  YogaHours_week  BasketballHours_week  \
0                10             84              22                    37
1                66             40              88                    47
3                30             20              20                    15
4                32             75              24                    36
5                37             54               6                    39
6                 2             66              42                    58
7                15             54              13                    43
8                 4             77              53                    79
9                86             49              50                    70
10                1             51              37                    35
11               22             74               1                    11
12               63             36              95                    68

    SoccerHours_week
0                 88
1                 89
3                 40
4                 76
5                 18
6                 36
7                 85
8                 16
9                 42
10                49
11                44
12                83

In [ ]:
# we can form complex conditionals by using '&' '|'