In [1]:
import pandas as pd

In [6]:
# a dataframe contains an ordered collection of columns, each with different 
# value type. DataFrames has both row and columns index.
data = {
    'departamento':['Amazonas', 'Antioquia', 'Arauca', 'Atlántico', 'Bolívar', 'Boyacá','Caldas', 'Caquetá', 'Casanare'],
    'capital': ['Leticia', 'Medellin', 'Arauca', 'Barranquilla','Cartagena','Tunja','Manizales','Florencia','Yopal'],
    'population':[80000, 6678000, 260000, 2400000, 2050000, 1200000, 998000, 490000, 350000],
}

In [21]:
# pd.DataFrame converts the dictionary to a DataFrame

df = pd.DataFrame(data)
print(df)

# we can add a new column by appending it in column array (empty array)
df2 = pd.DataFrame(data, columns=['departamento', 'capital','population','econo_rank'],index=['one', 'two', 'three', 'four','five', 'six','seven','eight','nine'])
print(df2)

  departamento       capital  population
0     Amazonas       Leticia       80000
1    Antioquia      Medellin     6678000
2       Arauca        Arauca      260000
3    Atlántico  Barranquilla     2400000
4      Bolívar     Cartagena     2050000
5       Boyacá         Tunja     1200000
6       Caldas     Manizales      998000
7      Caquetá     Florencia      490000
8     Casanare         Yopal      350000
      departamento       capital  population econo_rank
one       Amazonas       Leticia       80000        NaN
two      Antioquia      Medellin     6678000        NaN
three       Arauca        Arauca      260000        NaN
four     Atlántico  Barranquilla     2400000        NaN
five       Bolívar     Cartagena     2050000        NaN
six         Boyacá         Tunja     1200000        NaN
seven       Caldas     Manizales      998000        NaN
eight      Caquetá     Florencia      490000        NaN
nine      Casanare         Yopal      350000        NaN

In [22]:
# indexing & slicing

print('capitales: \n',df2['capital'])
print('\n\ncapitales: \n',df2.capital)

capitales:
 one           Leticia
two          Medellin
three          Arauca
four     Barranquilla
five        Cartagena
six             Tunja
seven       Manizales
eight       Florencia
nine            Yopal
Name: capital, dtype: object


capitales:
 one           Leticia
two          Medellin
three          Arauca
four     Barranquilla
five        Cartagena
six             Tunja
seven       Manizales
eight       Florencia
nine            Yopal
Name: capital, dtype: object

In [23]:
# column modification by assignment. Here we assigned to econo_rank column
# certain values according to the index we defined in the Series of the appended
# column
economic_rank = pd.Series([14,2,6,13], index = ['three','two','eight','five'])
df2['econo_rank'] = economic_rank
print(df2)

      departamento       capital  population  econo_rank
one       Amazonas       Leticia       80000         NaN
two      Antioquia      Medellin     6678000         2.0
three       Arauca        Arauca      260000        14.0
four     Atlántico  Barranquilla     2400000         NaN
five       Bolívar     Cartagena     2050000        13.0
six         Boyacá         Tunja     1200000         NaN
seven       Caldas     Manizales      998000         NaN
eight      Caquetá     Florencia      490000         6.0
nine      Casanare         Yopal      350000         NaN