In [1]:
import pandas as pd

In [4]:
# group by is the same functionality as sql.

data = {
    'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
    'Values1': [10, 20, 10, 30, 20, 30],
    'Values2': [100, 50, 150, 100, 200, 100]
}
df = pd.DataFrame(data)
print(df)

  Category  Values1  Values2
0        A       10      100
1        A       20       50
2        B       10      150
3        B       30      100
4        C       20      200
5        C       30      100

In [3]:
result = df.groupby('Category').agg(['sum'])
print(result)

         Values1 Values2
             sum     sum
Category
A             30     150
B             40     250
C             50     300

In [5]:
result = df.groupby('Category').agg(['sum', 'mean', 'std'])
print(result)

         Values1                  Values2
             sum  mean        std     sum   mean        std
Category
A             30  15.0   7.071068     150   75.0  35.355339
B             40  20.0  14.142136     250  125.0  35.355339
C             50  25.0   7.071068     300  150.0  70.710678

In [6]:
# The agg method is versatile and powerful. It can take:

# A single function, which is applied to all columns of each group.
# A list of functions, which are all applied to all columns.
# A dictionary where keys are column names and values are functions or lists of functions,
# allowing different aggregation for different columns.

In [7]:
result = df.groupby('Category').agg({'Values1': ['sum', 'mean'], 'Values2': 'max'})
print(result)

         Values1       Values2
             sum  mean     max
Category
A             30  15.0     100
B             40  20.0     150
C             50  25.0     200