In [1]:
import numpy as np
import pandas as pd

In [2]:
# loc selects a subset of rows and columns, selecting them by their labels

data = pd.DataFrame(np.arange(16).reshape((4, 4)),
    index=['Ohio', 'Colorado', 'Utah', 'New York'],
    columns=['one', 'two', 'three', 'four'])

print('loc: \n',data.loc[['Colorado','New York'],['two']])

loc:
           two
Colorado    5
New York   13

In [3]:
# iloc selects a subset of the df by calling them with the integers

data.iloc[[1, 2], [3, 0, 1]]

          four  one  two
Colorado     7    4    5
Utah        11    8    9

In [6]:
# both loc & iloc works with slicing

print('loc slicing: \n',data.loc['Colorado', 'one':'four'])
print('iloc slicing: \n',data.iloc[2:3, :4])

loc slicing:
 one      4
two      5
three    6
four     7
Name: Colorado, dtype: int32
iloc slicing:
       one  two  three  four
Utah    8    9     10    11