In [1]:
import numpy as np
import pandas as pd

In [3]:
# Nule data is a issue for Data Analysis

# Define a random df

dict= {'Column1': [2,5,np.nan,7,1],
 'Column2': [np.nan,8,np.nan,6,3],
 'Column3': [7,9,np.nan,1,None]}

# Create a df from the dict
df = pd.DataFrame(dict)
df

   Column1  Column2  Column3
0      2.0      NaN      7.0
1      5.0      8.0      9.0
2      NaN      NaN      NaN
3      7.0      6.0      1.0
4      1.0      3.0      NaN

In [4]:
# First we need to find is there're nan/none values

print(df.isnull()) # prints the same dataframe with the null values

   Column1  Column2  Column3
0    False     True    False
1    False    False    False
2     True     True     True
3    False    False    False
4    False    False     True

In [5]:
# we can filter values in binary 
print(df.isnull()*1)

   Column1  Column2  Column3
0        0        1        0
1        0        0        0
2        1        1        1
3        0        0        0
4        0        0        1

In [8]:
# We can fill the nan values with fillna function
print(df.fillna('Anda pa sha bobo'))
print(df.fillna(df.mean())) # df.mean() computes the mean per column -> fillna fill Nan values
                            # with the mean

            Column1           Column2           Column3
0               2.0  Anda pa sha bobo               7.0
1               5.0               8.0               9.0
2  Anda pa sha bobo  Anda pa sha bobo  Anda pa sha bobo
3               7.0               6.0               1.0
4               1.0               3.0  Anda pa sha bobo
   Column1   Column2   Column3
0     2.00  5.666667  7.000000
1     5.00  8.000000  9.000000
2     3.75  5.666667  5.666667
3     7.00  6.000000  1.000000
4     1.00  3.000000  5.666667

In [9]:
# drop nan values

print(df.dropna()) # drops those records that have NA values

   Column1  Column2  Column3
1      5.0      8.0      9.0
3      7.0      6.0      1.0